@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: auto;
}


/* header style start */
header{
    position: relative;
}

header .header_bg_img{
    position: absolute;
    left: 500px;
}

header .container{
    width: 1140px;
    margin: auto;
    padding: 25px 0;
}

header .container .row{
    width: 100%;
    overflow: hidden;
}

header .container .row .header_text{
    float: left;
    width: 33.33%;
    padding-top: 25px;
    color: #637280;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    word-spacing: 4px;
}

header .container .row .logo{
    float: left;
    width: 33.33%;
    padding-left: 180px;
}

header .container .row .login{
    width: 33.33%;
    float: right;
    padding-left: 200px;
    padding-top: 20px;
}

header .container .row .login p{
    float: left;
    color: #637280;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 15px 15px 0 0;
}

header .container .row .login .btn{
    background-color: #fff;
    color: #0288d1;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #0288d1;
    padding: 15px 20px;
    border-radius: 40px;
    cursor: pointer;
}

header  nav{
    background-color: #ebebeb;
    height: 50px;
    border: 1px solid #d7d7d7;
}

header  nav .container{
    text-align: center;
    padding-top: 0;
}

header  nav .container li{
    list-style: none;
    display: inline-flex;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-right: 1px solid #d7d7d7;
}

header nav .container li:hover p{
    color: #0288d1;
}
/* header nav .container li:active{
    color: #0288d1;
} */
header  nav .container li:first-child{
    border-left: 1px solid #d7d7d7;
}

header nav .container li a{
    text-decoration: none;
    display: inline-flex;
}

header nav .container li a img{
    width: 35px;
    height: 30px;
    margin-right: 15px;
}

header nav .container li a p{
    color: #000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
}
/* header style end */

/* header bottom style start */
#header_bottom .header_bottom_bg{
    position: relative;
}

#header_bottom {
    position: relative;
}

#header_bottom .header_bottom_bg img{
    width: 100%;
}

#header_bottom .header_bottom_bg .deshes_long_line{
    position: absolute;
    top: 130px;
    left: -236px;
}

#header_bottom .header_bottom_bg .deshes_long_line img{
    width: 100%;
}

#header_bottom .container .brown{
    float: left;
}

#header_bottom .container .brown .brown_text h2{
    font-size: 18px;
    color: #e99619;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
}

#header_bottom .container .brown .brown_text p{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 7px;
}

#header_bottom .container .brown .brown_text p a{
    text-decoration: none ;
    color: #0288d1;
}

#header_bottom .container .brown .brown_design_dashes .right_dashes{
    width: 0px;
    height: 100px;
    border-right: 2px dashed #e99619;
    position: absolute;
    top: 192px;
    left: 182px;
}

#header_bottom .container .brown .brown_text{
    position: absolute;
    top: 95px;
    left: 201px;
}

#header_bottom .container .brown >img:nth-child(3){
    position: absolute;
    top: 286px;
    left: 115px;
    width: 130px;
    height: 130px;
}

#header_bottom .container .brown >img:last-child{
    position: absolute;
    top: 340px;
    left: 164px;
}

#header_bottom .container .brown .brown_design_dashes img{
    position: absolute;
    top: 92px;
    left: 177px;
}

#header_bottom .container .red{
    float: left;
}

#header_bottom .container .red h2{
    font-size: 18px;
    color: #ea493d;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
}

#header_bottom .container .red p{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 7px;
}

#header_bottom .container .red .red_design_dashes .right_dashes{
    width: 0px;
    height: 93px;
    border-right: 2px dashed #ea493d;
    position: absolute;
    top: 138px;
    left: 483px;
}

#header_bottom .container .red .red_text{
    position: absolute;
    top: 57px;
    left: 505px;
}

#header_bottom .container .red >img:nth-child(3){
    position: absolute;
    top: 226px;
    left: 413px;
    width: 130px;
    height: 130px;
}

#header_bottom .container .red >img:last-child{
    position: absolute;
    top: 281px;
    left: 468px;
}

#header_bottom .container .red .red_design_dashes img{
    position: absolute;
    top: 43px;
    left: 478px;
}

#header_bottom .container .blue{
    float: left;
}

#header_bottom .container .blue .blue_text h2{
    font-size: 18px;
    color: #00bcd4;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
}

#header_bottom .container .blue .blue_text p i{
    padding-right: 7px;
}

#header_bottom .container .blue .blue_text p{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 7px;
}
#header_bottom .container .blue .blue_design_dashes .right_dashes{
    width: 0px;
    height: 32px;
    border-right: 2px dashed #00bcd4;
    position: absolute;
    bottom: 114px;
    right: 557px;
}

 #header_bottom .container .blue .blue_text{
    position: absolute;
    bottom: 14px;
    right: 586px;
}

#header_bottom .container .blue >img:nth-child(2){
    position: absolute;
    bottom: 140px;
    right: 495px;
    width: 130px;
    height: 130px;
}

#header_bottom .container .blue >img:nth-child(3){
    position: absolute;
    bottom: 187px;
    right: 538px;
}

#header_bottom .container .blue .blue_design_dashes img{
    position: absolute;
    bottom: 14px;
    right: 552px;
}

#header_bottom .container .green{
    float: left;
}

#header_bottom .container .green h2{
    font-size: 18px;
    color: #3bcc3b;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
}

#header_bottom .container .green p{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 7px;
}

#header_bottom .container .green .green_design_dashes .right_dashes{
    width: 0px;
    height: 149px;
    border-right: 2px dashed #3bcc3b;
    position: absolute;
    bottom: 249px;
    right: 226px;
}

#header_bottom .container .green .green_text{
    position: absolute;
    bottom: 150px;
    right: 239px;
}

 #header_bottom .container .green >img:nth-child(2){
    position: absolute;
    top: 103px;
    right: 164px;
    width: 130px;
    height: 130px;
}

#header_bottom .container .green >img:nth-child(3){
    position: absolute;
    top: 153px;
    right: 216px;
}

#header_bottom .container .green .green_design_dashes img{
    position: absolute;
    bottom: 144px;
    right: 220px;
}
/* header bottom style end */

/* career path to explore style start */
#explore{
    height: 650px;
    /* overflow: hidden; */
}
#explore .container .explore_text h2{
    padding-top: 145px;
    color: #0288d1;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    width: 510px;
    padding-bottom: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

#explore .container .explore_text p{
    color: #637280;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

#explore .container .explore_text p i{
    padding-right: 10px;
    font-size: 10px;
}

#explore .container .explore_text p:nth-child(4){
    padding: 25px 0 10px 0;
}

#explore .container{
    position: relative;
}

#explore .container .explore_img img{
    position: absolute;
    right: 0;
    top: 0;
}

#explore .container .explore_img img:last-child{
    position: absolute;
    top: 166px;
    right: 29px;
}

#explore .container .explore_img img:nth-child(2){
    position: absolute;
    right: 519px;
    top: 254px;
    height: 190px;
}

#explore .container .explore_img img:first-child{
    right: 169px;
    top: 235px;
    width: 500px;
    height: 275px;
}
/* Career path to explore style end */

/* Assess yourself style start */
#assess_yourself{
    height: 590px;
    
}

#assess_yourself .container{
    position: relative;
}
#assess_yourself .container h2{
    color: #0288d1;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    padding-left: 578px;
    margin-top: -16px;
}

#assess_yourself .container .col-6{
    width: 50%;
    float: left;
}

#assess_yourself .container .col-6:last-child{
    float: right;
}

#assess_yourself .container .col-6 > img:first-child{
    z-index: 1;
    position: absolute;
    top: 14px;
    left: 10px;
}

#assess_yourself .container .col-6 img:nth-child(2){
    position: absolute;
    top: 112px;
    left: 117px;
}

#assess_yourself .container .col-6 img:last-child{
    position: absolute;
    top: 155px;
    left: 134px;
}

#assess_yourself .container .col-6 .top_row{
    padding-top: 75px;
    overflow: hidden;
    padding-bottom: 25px;
    position: relative;
}

#assess_yourself .container .col-6 .top_row .videos video{
    width: 160px;
    height: 90px;
    float: left;
    clear: both;
    margin-right: 30px;
}

#assess_yourself .container .col-6 .top_row .videos .video_icon i{
    position: absolute;
    top: 104px;
    right: 475px;
    font-size: 25px;
    color: rgb(248, 245, 245);
    display: none;
}

#assess_yourself .container .col-6 .top_row .videos:hover video{
    opacity: 50%;
}

#assess_yourself .container .col-6 .top_row .videos:hover .video_icon i{
    display: block;
}

#assess_yourself .container .col-6 .top_row .top_row_text h3{
    color: #637280;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

#assess_yourself .container .col-6 .top_row .top_row_text p{
    color: #637280;
    font-family: 'Roboto', sans-serif;
}

#assess_yourself .container .col-6 .top_row .top_row_text p:nth-child(2){
    padding-bottom: 4px;
}

#assess_yourself .container .col-6 .mid_row{
    overflow: hidden;
    padding-bottom: 25px;
    position: relative;
}

#assess_yourself .container .col-6 .mid_row .images > img{
    float: left;
    margin-right: 30px;
}

#assess_yourself .container .col-6 .mid_row .images .image_icon i{
    position: absolute;
    top: 30px;
    right: 475px;
    font-size: 25px;
    font-size: 25px;
    color: #fff;
    display: none;
}

#assess_yourself .container .col-6 .mid_row .images:hover img{
    opacity: 50%;
}

#assess_yourself .container .col-6 .mid_row .images:hover .image_icon i{
    display: block;
}

#assess_yourself .container .col-6 .mid_row .mid_row_text h3{
    color: #637280;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

#assess_yourself .container .col-6 .mid_row .mid_row_text p{
    color: #637280;
    font-family: 'Roboto', sans-serif;
    
}

#assess_yourself .container .col-6 .mid_row .mid_row_text p:nth-child(2){
    padding-bottom: 4px;
}

#assess_yourself .container .col-6 .bottom_row{
    overflow: hidden;
    position: relative;
    padding-bottom: 110px;
}

#assess_yourself .container .col-6 .bottom_row .documents > img{
    float: left;
    margin-right: 30px;
}

#assess_yourself .container .col-6 .bottom_row .documents .dorument_icon i{
    position: absolute;
    top: 30px;
    right: 475px;
    font-size: 25px;
    font-size: 25px;
    color: #fff;
    display: none;
}

#assess_yourself .container .col-6 .bottom_row .documents:hover img{
    opacity: 50%;
}

#assess_yourself .container .col-6 .bottom_row .documents:hover .dorument_icon i{
    display: block;
}

#assess_yourself .container .col-6 .bottom_row .bottom_row_text h3{
    color: #637280;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

#assess_yourself .container .col-6 .bottom_row .bottom_row_text p{
    color: #637280;
    font-family: 'Roboto', sans-serif;
}

#assess_yourself .container .col-6 .bottom_row .bottom_row_text p:nth-child(2){
    padding-bottom: 4px;
}
/* Assess Yourself style end */

/* learning skills style start */

#learning_skills {
    position: relative;
}

#learning_skills > img{
    width: 100%;
}
#learning_skills .arrow_line img{
    position: absolute;
    top: 104px;
    right: 160px;
}

#learning_skills .container h2{
    color: #0288d1;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 25px;
    position: absolute;
    top: 90px;
    left: 435px;
}

#learning_skills .container > p{
    color: #637280;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 138px;
    left: 325px;
}
#learning_skills .container > p:nth-child(3){
    position: absolute;
    top: 162px;
    left: 585px;
} 

#learning_skills .container .col-6{
    width: 50%;
    float: left;
}

#learning_skills .container .col-6 > img{
    position: absolute;
    top: 287px;
    right: 225px;
    width: 375px;
}

#learning_skills .container .col-6 .carousel_inner .carousel_item h3{
    color: #0288d1;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 155px;
    padding-left: 15px;
    float: left;
    padding-top: 40px;
}

#learning_skills .container .col-6 .carousel_inner .carousel_item{
    position: relative;
}

#learning_skills .container .col-6 .carousel_inner .carousel_item .carousel_caption{
    position: absolute;
    top: 55px;
    left: 49px;
}

#learning_skills .container .col-6 .carousel_inner .carousel_item .left_state_line{
    height: 40px;
    border-left: 4px solid #0288d1;
    float: left;
    margin-top: 42px;
}

#learning_skills .container .col-6 .carousel_inner .carousel_item .right_state_line{
    height: 125px;
    border-left: 4px solid #0288d1;
    margin-left: 48px;
    float: left;
}

#learning_skills .container .col-6 .carousel_inner .carousel_item .carousel_caption img{
    padding-left: 120px;
}

#learning_skills .container .col-6 .carousel_inner .carousel_item .carousel_caption p{
    color: #637280;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    width: 274px;
    text-align: center;
    padding-top: 15px;
    padding-right: 51px;padding-top: 15px;
    padding-right: 51px;
    float: right;
}

#learning_skills{
    position: relative;
}

#learning_skills .container .col-6 .carousel_inner .carousel_item {
    position: absolute;
    top: 256px;
    left: 111px;
} 
/* learning skills style end */

/* Success Student style start */

#success_student > img{
    padding-top: 62px;
    margin-left: -104px;
}

#success_student{
    position: relative;
}

#success_student .container .jhon_deo{
    height: 260px;
    width: 445px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 20px 20px #e8ecef;
    position: absolute;
    top: 110px;
    left: 150px;
}

#success_student .container .jhon_deo img{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    float: left;
}

#success_student .container .jhon_deo h2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-bottom: 12px;
    padding-top: 28px;
}

#success_student .container .jhon_deo p{
    color: #637280;
    font-family: 'Roboto', sans-serif;
}

#success_student .container .jhon_deo p:nth-child(3){
    padding-bottom: 30px;
}
#success_student .container .jhon_deo p:nth-child(4){
    padding-left: 40px;
    padding-right: 5px;
    line-height: 22px;
}

#success_student .container .jhon_deo i{    
    width: 30px;
    height: 30px;
    color: #637280;
    border: 1px solid #637280;
    border-radius: 50%;
    padding-left: 7px;
    padding-top: 6px;
    
}

#success_student .container .jhon_deo i:hover{
    background-color: #0288d1;
    color: #fff;
    border: none;
}

#success_student .container .jhon_deo .profile_link{
    padding-left: 40px;
    padding-top: 15px;
}

#success_student .container .right_part h2{
    color: #0288d1;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    width: 340px;
    line-height: 40px;
    padding-bottom: 45px;
    position: absolute;
    top: 127px;
    right: 372px;
}

#success_student .container .right_part .story{
    padding: 15px 15px;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    width: 270px;
    position: absolute;
    top: 260px;
    right: 433px;
}

#success_student .container .right_part .story p{
    color: #637280;
    font-family: 'Roboto', sans-serif;
    float: left;
    padding-right: 20px;
}

#success_student .container .right_part .story i{
    color: #0288d1;
    cursor: pointer;
}

#success_student .container h3{
    color: #0288d1;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    margin-top: -100px;
    margin-left: 798px;
}

#success_student .container > img{
    position: absolute;
    top: 435px;
    right: 185px;
}

#success_student .container .circle{
    width: 40px;
    height: 40px;
    background-color: #0288d1;
    border-radius: 50%;
    margin-left: 1000px;
    margin-top: -27px;
}

#success_student .container .circle i{
    color: #fff;
    padding-left: 5px;
    cursor: pointer;
}
#success_student .container .circle .arrow_icon{
    padding-top: 11px;
    cursor: pointer;
}

#success_student .container .row{
    padding-top: 130px;
    padding-left: 29px;
    padding-bottom: 150px;
}

#success_student .container .row .col-1{
    height: 80px;
    width: 150px;
    background-color: #e1e1e1;
    float: left;
    margin-left: 15px;
}
/* Success Student style end */

/* map section style start */
#map{
    position: relative;
}
#map iframe{
    width: 100%;
    border: none;
    height: 700px;
}
#map .container .left_box{
    position: absolute;
    top: 87px;
    left: 150px;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 515px;
    border-radius: 10px;
}

#map .container .left_box h3{
    color: #0288d1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 60px 0 40px 0;
}

#map .container .left_box > p{
    color: #637280;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    width: 300px;
    text-align: center;
    margin: auto;
}

#map .container .left_box .contact{
    width: 240px;
    margin: auto;
    padding-bottom: 70px;
}

#map .container .left_box .contact p{
    color: #637280;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
    line-height: 25px;
}

#map .container .left_box .contact i{
    padding-right: 15px;
}

#map .container .left_box .contact i:first-child,
#map .container .left_box .contact i:nth-child(3) {
    float: left;
    padding-top: 15px;
    color: #637280;
}

#map .container .left_box .contact p:last-child i:first-child{
    padding-top: 6px !important;
}

#map .container .left_box .contact p:nth-child(4) span:first-child{
    padding-right: 20px;
}

#map .container .left_box .contact p:first-child span:first-child{
    margin-top: 15px;
}

#map .container .left_box .profile_link{
    text-align: center;
    padding-bottom: 30px;
}

#map .container .left_box .profile_link i{
    color: #637280;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
    padding-top: 7px;
    cursor: pointer;
}

#map .container .left_box .profile_link i:hover{
    background-color: #0288d1;
    border: none;
    color: #fff;
}

#map .container .right_box{
    background-color: #fff;
    position: absolute;
    top: 87px;
    right: 120px;
    width: 660px;
    height: 515px;
    border-radius: 10px;
}

#map .container .right_box form{
    padding-left: 60px;
}

#map .container .right_box h3{
    color: #0288d1;
    font-family: 'Roboto', sans-serif;
    padding: 60px 0 40px 60px;
}

#map .container .right_box .name{
    border: none;
    border-bottom: 1px solid #ebebeb;
    width: 250px;
    margin-right: 37px;
    padding: 3px 0 10px 5px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#map .container .right_box .email{
    border: none;
    border-bottom: 1px solid #ebebeb;
    width: 250px;
    margin-right: 50px;
    padding: 3px 0 10px 5px;
    font-family: 'Roboto', sans-serif;
}

#map .container .right_box .subject{
    border: none;
    border-bottom: 1px solid #ebebeb;
    width: 540px;
    margin: 30px 10px 40px 0;
    padding: 3px 0 10px 5px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}

#map .container .right_box .message{
    border: none;
    border-bottom: 1px solid #ebebeb;
    width: 540px;
    padding: 10px 0 60px 10px;
    margin: 30px 138px 40px 0;
    font-family: 'Roboto', sans-serif;
}

#map .container .right_box .btn{
    color: #637280;
    background-color: #fff;
    padding: 15px 35px;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-left: 190px;
}

#map .container .right_box .btn:hover{
    color: #fff;
    border: none;
    background-color: #0288d1;
}
/* map section style end */

/* footer style start */
footer{
    margin-top: -5px;
    text-align: center;
    background-color: #f5f5f5;
    height: 380px;
}

footer .footer_image > img{
    margin-left: -212px;
}

footer .footer_image .foorer_logo img{
    margin-top: -50px;
    width: 100px;
    height: 70px;
}

footer p{
    color: #637280;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
    width: 600px;
    padding: 30px 0;
    margin: auto;
    line-height: 25px;
}

footer .institute_link i{
    color: #637280;
    margin-right: 10px;
    padding-top: 7px;
    cursor: pointer;
    
}

footer .institute_link i:hover{
    color: #fff;
    background-color: #0288d1;    
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
}
/* footer style end */




















